.header{
    position: relative;
}
.FVC-img img {
    width: 100%;
}
.FVC-text{
    color: white;
    position: absolute;
    top: 0px;
}
.content{
    margin-top: 10px;
    margin-bottom: 10px;
}

