/* smart phone */

body {
    background-color: whitesmoke;
}

.row2 {
    position: relative;
}
.row2 text {
    color: aliceblue;
    position: absolute;
    font-size: 14px;
    left: 2px;
}

/*tablet*/
@media only screen and (min-width: 768px) {
    

    .row2 text {
        font-size: 20px;
        left: 80px;
    }

    .row2 h3 {
        margin-left: 75px ;
    }
}

/*desktop*/
@media only screen and (min-width: 992px) {
    .container {

        .row2 text {
            font-size: 28px;
            top: 25px;
            left: 280px;

        }

        .row2 h3 {
            margin-left: 150px;
        }
    }
}