
/* smart phone */
body {
    background-color: pink;

    .row2 img{
        position: relative;
    }
    .row2 text{
    color: aliceblue;
    position: absolute;
    left: 15%;
    }
    .row2 h2{
        margin-left: 10%;
    }
    .row4 img{
        border-radius: 10px;
        margin-top: 5%;
    }

    
    

}

/*tablet*/
@media only screen and (min-width: 688px) {
    body {
        background-color: lightblue;
        .row2 image{
            position: relative;
        }
        .row2 text{
            color: aliceblue;
            position: absolute;
            top: 10%;
            left: 19%;
           
        }
        .row2 h2{
            margin-left: 15%;
        }


    }
}


/*desktop*/
@media only screen and (min-width: 768px) {
    body {
        background-color: whitesmoke;
    }
    
    .row2 text{
        position: absolute;
        top: 20%;
        left: 30%;
        right: 10%;
        color: aliceblue;
    }
    .row2 div{
        position: absolute;
        left: 12%;
    }
    .row4 img{
        border-radius: 10px;
        margin-bottom: 5%;
    }
    
}
body {
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    margin-left: 10%;
    margin-right: 10%;
}